html {
    width: 100px;
    height: 50px;
}

body {
    margin: 0;
    height: 100%;
}

button {
    width: 100%;
}

#version {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    column-gap: 4px;
    row-gap: 4px;
    padding: 4px;
    height: 100%;
}

.row {
    width: 100%;
}
